.bg-light {
    background-color: transparent !important;
    z-index: 9999;
}

.navbar-collapse {
    background-color: #eeeeeed9;
    padding-left: .5rem;
    margin-top: .25rem;
}

.navbar {
    padding: 1.5rem;
}

.navbar-brand {
    padding-left: 1rem;
    margin-top: .25rem;
}